In [241]:
import pandas as pd

In [243]:
df = pd.read_csv('BooksAmazonReviews.csv')

In [244]:
df.head()

,Id,Title,Price,User_id,profileName,review/helpfulness,review/score,review/time,review/summary,review/text
0,1882931173,Its Only Art If Its Well Hung!,NaN,AVCGYZL8FQQTD,"Jim of Oz ""jim-of-oz""",7/7,4.0,1970-01-01 00:00:00.940636800,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,0826414346,Dr. Seuss: American Icon,NaN,A30TK6U7DNS82R,Kevin Killian,10/10,5.0,1970-01-01 00:00:01.095724800,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
2,0826414346,Dr. Seuss: American Icon,NaN,A3UH4UZ4RSVO82,John Granger,10/11,5.0,1970-01-01 00:00:01.078790400,Essential for every personal and Public Library,"If people become the books they read and if ""t..."
3,0826414346,Dr. Seuss: American Icon,NaN,A2MVUWT453QH61,"Roy E. Perry ""amateur philosopher""",7/7,4.0,1970-01-01 00:00:01.090713600,Phlip Nel gives silly Seuss a serious treatment,"Theodore Seuss Geisel (1904-1991), aka &quot;D..."
4,0826414346,Dr. Seuss: American Icon,NaN,A22X4XUPKF66MR,"D. H. Richards ""ninthwavestore""",3/3,4.0,1970-01-01 00:00:01.107993600,Good academic overview,Philip Nel - Dr. Seuss: American IconThis is b...

In [245]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  30000 non-null  object
 1   Title               29999 non-null  object
 2   Price               4105 non-null   float64
 3   User_id             24079 non-null  object
 4   profileName         24078 non-null  object
 5   review/helpfulness  30000 non-null  object
 6   review/score        30000 non-null  float64
 7   review/time         30000 non-null  object
 8   review/summary      29995 non-null  object
 9   review/text         30000 non-null  object
dtypes: float64(2), object(8)
memory usage: 2.3+ MB

In [249]:
df = df.dropna(subset=['User_id', 'Title'])

In [251]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24078 entries, 0 to 29998
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  24078 non-null  object
 1   Title               24078 non-null  object
 2   Price               3481 non-null   float64
 3   User_id             24078 non-null  object
 4   profileName         24077 non-null  object
 5   review/helpfulness  24078 non-null  object
 6   review/score        24078 non-null  float64
 7   review/time         24078 non-null  object
 8   review/summary      24073 non-null  object
 9   review/text         24078 non-null  object
dtypes: float64(2), object(8)
memory usage: 2.0+ MB

In [253]:
df.nunique()

Id                     2198
Title                  2187
Price                   299
User_id               20781
profileName           19883
review/helpfulness     1145
review/score              5
review/time            5211
review/summary        20855
review/text           23241
dtype: int64

## users table

In [113]:
users= df[['User_id', 'profileName']]
users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24079 entries, 0 to 29998
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User_id      24079 non-null  object
 1   profileName  24078 non-null  object
dtypes: object(2)
memory usage: 564.4+ KB

In [115]:
users['User_id'].nunique()

20782

In [117]:
users_unique = users.drop_duplicates(subset='User_id')

In [119]:
users_unique.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20782 entries, 0 to 29998
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User_id      20782 non-null  object
 1   profileName  20781 non-null  object
dtypes: object(2)
memory usage: 487.1+ KB

In [121]:
users_unique.nunique()

User_id        20782
profileName    19884
dtype: int64

In [123]:
users_unique.to_csv('users.csv', index=False)

## books table

In [256]:
book = df[['Id', 'Title', 'Price']]

In [258]:
book.nunique()

Id       2198
Title    2187
Price     299
dtype: int64

In [260]:
book.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24078 entries, 0 to 29998
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      24078 non-null  object
 1   Title   24078 non-null  object
 2   Price   3481 non-null   float64
dtypes: float64(1), object(2)
memory usage: 752.4+ KB

In [262]:
book_unique = book.drop_duplicates(subset='Id')

In [264]:
book_unique.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2198 entries, 0 to 28750
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      2198 non-null   object
 1   Title   2198 non-null   object
 2   Price   494 non-null    float64
dtypes: float64(1), object(2)
memory usage: 68.7+ KB

In [266]:
book_unique.rename(columns={'Id': 'book_id'}, inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10688\3236455433.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book_unique.rename(columns={'Id': 'book_id'}, inplace=True)

In [306]:
book_unique.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2198 entries, 0 to 28750
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   book_id  2198 non-null   object
 1   Title    2198 non-null   object
 2   Price    494 non-null    float64
dtypes: float64(1), object(2)
memory usage: 68.7+ KB

In [270]:
book_unique.to_csv('books.csv', index=False)

In [272]:
books_sorted

       book_id                                              Title  Price
0            1                     Its Only Art If Its Well Hung!    NaN
1            2                           Dr. Seuss: American Icon    NaN
10           3              Wonderful Worship in Smaller Churches  19.40
14           4                      Whispers of the Wicked Saints  10.95
46           5  Nation Dance: Religion, Identity and Cultural ...  39.95
...        ...                                                ...    ...
28744     2183              Probability and its engineering uses,    NaN
28745     2184  Speed-Reading in Business: Learn to Read Rapid...    NaN
28746     2185                 Oz Clarke's Pocket Wine Guide 2001    NaN
28747     2186  The adventures of Big-Foot Wallace,: The Texas...    NaN
28750     2187               Of Mice and Men (Penguin Audiobooks)    NaN

[2187 rows x 3 columns]

## reviews table

In [275]:
df = df.merge(books_sorted[['book_id', 'Title']], on='Title')

In [277]:
df

,Id,Title,Price,User_id,profileName,review/helpfulness,review/score,review/time,review/summary,review/text,book_id
0,1882931173,Its Only Art If Its Well Hung!,NaN,AVCGYZL8FQQTD,"Jim of Oz ""jim-of-oz""",7/7,4.0,1970-01-01 00:00:00.940636800,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...,1
1,0826414346,Dr. Seuss: American Icon,NaN,A30TK6U7DNS82R,Kevin Killian,10/10,5.0,1970-01-01 00:00:01.095724800,Really Enjoyed It,I don't care much for Dr. Seuss but after read...,2
2,0826414346,Dr. Seuss: American Icon,NaN,A3UH4UZ4RSVO82,John Granger,10/11,5.0,1970-01-01 00:00:01.078790400,Essential for every personal and Public Library,"If people become the books they read and if ""t...",2
3,0826414346,Dr. Seuss: American Icon,NaN,A2MVUWT453QH61,"Roy E. Perry ""amateur philosopher""",7/7,4.0,1970-01-01 00:00:01.090713600,Phlip Nel gives silly Seuss a serious treatment,"Theodore Seuss Geisel (1904-1991), aka &quot;D...",2
4,0826414346,Dr. Seuss: American Icon,NaN,A22X4XUPKF66MR,"D. H. Richards ""ninthwavestore""",3/3,4.0,1970-01-01 00:00:01.107993600,Good academic overview,Philip Nel - Dr. Seuss: American IconThis is b...,2
...,...,...,...,...,...,...,...,...,...,...,...
24073,0140860096,Of Mice and Men (Penguin Audiobooks),NaN,A3O9LMY2DTV2B2,T. W. Fuller,2/3,4.0,1970-01-01 00:00:01.000598400,Of Mice and Men,Of Mice and Men captures a part of American Hi...,2187
24074,0140860096,Of Mice and Men (Penguin Audiobooks),NaN,A1W5SKBN4VYOZH,colin_pegg@hotmail.com,2/3,5.0,1970-01-01 00:00:00.966816000,American Classic,John Steinbeck had always been associated with...,2187
24075,0140860096,Of Mice and Men (Penguin Audiobooks),NaN,A2CYWFT3GEB7OV,"""chonita_15""",2/3,5.0,1970-01-01 00:00:00.966384000,"The Perfect book, &quot;Of Mice and Men&quot;",Mr. Steinbeck has created a masterpiece. Short...,2187
24076,0140860096,Of Mice and Men (Penguin Audiobooks),NaN,A2KFDT3ENO7N21,kae,2/3,3.0,1970-01-01 00:00:00.965174400,Recomendation,Of Mice and men is a book that I first raed fo...,2187
24077,0140860096,Of Mice and Men (Penguin Audiobooks),NaN,A11NMT4P8EPWKW,"""mambodog""",2/3,5.0,1970-01-01 00:00:00.944092800,A Bantamweight word user. A Heavyweight storyt...,"This is old school writing, writing from befor...",2187

In [279]:
df['book_id'].max()

2187

In [281]:
books_sorted['book_id'].max()

2187

In [283]:
reviews =df[['review/helpfulness', 'review/score', 'review/text', 'review/time', 'review/summary', 'User_id', 'book_id']]

In [285]:
reviews['review_id'] = range(1, len(reviews)+1)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10688\1827085815.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews['review_id'] = range(1, len(reviews)+1)

In [287]:
reviews

,review/helpfulness,review/score,review/text,review/time,review/summary,User_id,book_id,review_id
0,7/7,4.0,This is only for Julie Strain fans. It's a col...,1970-01-01 00:00:00.940636800,Nice collection of Julie Strain images,AVCGYZL8FQQTD,1,1
1,10/10,5.0,I don't care much for Dr. Seuss but after read...,1970-01-01 00:00:01.095724800,Really Enjoyed It,A30TK6U7DNS82R,2,2
2,10/11,5.0,"If people become the books they read and if ""t...",1970-01-01 00:00:01.078790400,Essential for every personal and Public Library,A3UH4UZ4RSVO82,2,3
3,7/7,4.0,"Theodore Seuss Geisel (1904-1991), aka &quot;D...",1970-01-01 00:00:01.090713600,Phlip Nel gives silly Seuss a serious treatment,A2MVUWT453QH61,2,4
4,3/3,4.0,Philip Nel - Dr. Seuss: American IconThis is b...,1970-01-01 00:00:01.107993600,Good academic overview,A22X4XUPKF66MR,2,5
...,...,...,...,...,...,...,...,...
24073,2/3,4.0,Of Mice and Men captures a part of American Hi...,1970-01-01 00:00:01.000598400,Of Mice and Men,A3O9LMY2DTV2B2,2187,24074
24074,2/3,5.0,John Steinbeck had always been associated with...,1970-01-01 00:00:00.966816000,American Classic,A1W5SKBN4VYOZH,2187,24075
24075,2/3,5.0,Mr. Steinbeck has created a masterpiece. Short...,1970-01-01 00:00:00.966384000,"The Perfect book, &quot;Of Mice and Men&quot;",A2CYWFT3GEB7OV,2187,24076
24076,2/3,3.0,Of Mice and men is a book that I first raed fo...,1970-01-01 00:00:00.965174400,Recomendation,A2KFDT3ENO7N21,2187,24077
24077,2/3,5.0,"This is old school writing, writing from befor...",1970-01-01 00:00:00.944092800,A Bantamweight word user. A Heavyweight storyt...,A11NMT4P8EPWKW,2187,24078

In [289]:
cols = ['review_id'] +  [col for col in reviews.columns if col != 'review_id']

In [291]:
cols

['review_id',
 'review/helpfulness',
 'review/score',
 'review/text',
 'review/time',
 'review/summary',
 'User_id',
 'book_id']

In [293]:
reviews_sorted = reviews[cols]

In [295]:
reviews_sorted.head()

,review_id,review/helpfulness,review/score,review/text,review/time,review/summary,User_id,book_id
0,1,7/7,4.0,This is only for Julie Strain fans. It's a col...,1970-01-01 00:00:00.940636800,Nice collection of Julie Strain images,AVCGYZL8FQQTD,1
1,2,10/10,5.0,I don't care much for Dr. Seuss but after read...,1970-01-01 00:00:01.095724800,Really Enjoyed It,A30TK6U7DNS82R,2
2,3,10/11,5.0,"If people become the books they read and if ""t...",1970-01-01 00:00:01.078790400,Essential for every personal and Public Library,A3UH4UZ4RSVO82,2
3,4,7/7,4.0,"Theodore Seuss Geisel (1904-1991), aka &quot;D...",1970-01-01 00:00:01.090713600,Phlip Nel gives silly Seuss a serious treatment,A2MVUWT453QH61,2
4,5,3/3,4.0,Philip Nel - Dr. Seuss: American IconThis is b...,1970-01-01 00:00:01.107993600,Good academic overview,A22X4XUPKF66MR,2

In [302]:
books_unique.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24078 entries, 0 to 24077
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   review_id           24078 non-null  int64
 1   review/helpfulness  24078 non-null  object
 2   review/score        24078 non-null  float64
 3   review/text         24078 non-null  object
 4   review/time         24078 non-null  object
 5   review/summary      24073 non-null  object
 6   User_id             24078 non-null  object
 7   book_id             24078 non-null  int64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.5+ MB

In [352]:
reviews_sorted.to_csv('reviews.csv', index=False)

In [304]:
reviews_sorted.nunique()

review_id             24078
review/helpfulness     1145
review/score              5
review/text           23241
review/time            5211
review/summary        20855
User_id               20781
book_id                2187
dtype: int64

In [316]:
book_unique['book_id'].isnull().any()

False

In [342]:
reviews_sorted['book_id'].isin(book_unique['book_id']).all()

False

In [350]:
reviews_sorted.loc[~reviews_sorted['book_id'].isin(book_unique['book_id']), 'book_id']

0           1
1           2
2           2
3           2
4           2
         ...
24073    2187
24074    2187
24075    2187
24076    2187
24077    2187
Name: book_id, Length: 24078, dtype: object

In [348]:
len(reviews_sorted[~reviews_sorted['book_id'].isin(book_unique['book_id'])])

24078

In [346]:
reviews_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24078 entries, 0 to 24077
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   review_id           24078 non-null  int64
 1   review/helpfulness  24078 non-null  object
 2   review/score        24078 non-null  float64
 3   review/text         24078 non-null  object
 4   review/time         24078 non-null  object
 5   review/summary      24073 non-null  object
 6   User_id             24078 non-null  object
 7   book_id             24078 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 1.5+ MB

In [344]:
book_unique.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2198 entries, 0 to 28750
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   book_id  2198 non-null   object
 1   Title    2198 non-null   object
 2   Price    494 non-null    float64
dtypes: float64(1), object(2)
memory usage: 68.7+ KB

In [340]:
reviews_sorted['book_id'] = reviews_sorted['book_id'].astype('object')